crewai
crewai-tools
yfinance
streamlit
pandas
plotly
scipy
numpy
textblob
pandas-ta
praw 
torch
transformers
pyyaml
unstructured
requests 
backoff 
ratelimit 
fake-useragent
alpha_vantage
pydantic
boto3